@using Blazored.SessionStorage.StorageOptions
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject ISessionStorageService SessionStorage

<div @onclick="UpdateRouteParamAndNavigate" id="search-card">
    <h3 id="search-media-title">@Media.Title</h3>
    <div id="search-pill-container">
        <div class="pill">@Media.Type</div>
        @if (Media.Type == "TV Series")
        {
        <div class="pill">Season @Media.Season</div>
        <div class="pill">@Media.Episodes Episodes</div>
        }
        @if (IsAvailable)
        {
        <div class="pill available">Available Near You</div>
        }
        else
        {
        <div class="pill unavailable">Not Available Near You</div>
        }
    </div>
    <div id="search-star-rating">
        @for (var i = 1; i <= 5; i++)
        {
        <RatingStar colorValue="@(i <= Rating)"></RatingStar>
        }
    </div>
    <p id="search-genres">@_genres</p>
    <div class="line"></div>
</div>

@code {
    [Parameter] public Entities.MediaInfo Media { get; set; } = new();

    public bool IsAvailable { get; set; }

    private List<string> Pills;
    private int Rating => (int)Math.Round(Media.Rating);
    private string _genres => string.Join(" • ", Media.Genres.Take(3));

    
    protected override void OnInitialized()
    {
        foreach (var copy in Media.PhysicalCopies) 
        {
            if (copy.Status == "Available" && false)
            {
                IsAvailable = true;
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string[] result = await SessionStorage.GetItemAsync<string[]>("branches");
            if (result != null)
            {
                foreach (var copy in Media.PhysicalCopies) 
                {
                    if (copy.Status == "Available" && result.Contains(copy.Branch))
                    {
                        IsAvailable = true;
                    }
                }
            }
            StateHasChanged();
        }
    }

    private async Task UpdateRouteParamAndNavigate()
    {
        Nav.NavigateTo($"/media/{Media.ObjectID}");
    }
}
