
<tr>
    <td>@user.ObjectId</td>
    <td>@user.FirstName</td>
    <td>@user.LastName</td>
    <td>@user.DateOfBirth</td>
    <td class="role">@user.Role</td>
    <td>@GetBranchNames()</td>
    <td>
    <div class="action-buttons">
        <button class="action-btn" @onclick="EditRole">
            <svg class="action-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
            </svg>
        </button>
        <button class="action-btn" @onclick="EditBranchAccess">
            <svg class="action-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
            </svg>
        </button>
        <button class="action-btn" @onclick="DeleteUser">
            <svg class="action-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
            </svg>
        </button>
    </div>
    </td>
</tr>


@code {
    [Parameter] public Entities.Staff user { get; set; } = new();
    [Parameter] public List<Entities.Branch> branchList { get; set; } = new();
    
    private MarkupString GetBranchNames()
    {
        if (user.Branches == null || !user.Branches.Any())
            return new MarkupString("No Branch Assigned");

        var branchNames = user.Branches
            .Select(branchId => branchList
                .FirstOrDefault(b => b.ObjectId == branchId)?.Name ?? "Unknown Branch")
            .ToList();

        return new MarkupString(string.Join("<br>", branchNames));
    }
    private async Task EditRole()
    {
        //TODO implement 
    }
    
    private async Task EditBranchAccess()
    {
        //TODO implement 
    }

    private async Task DeleteUser()
    {
        //TODO implement 
    }
}