
<tr>
    <td>@user.ObjectId</td>
    <td>@user.FirstName</td>
    <td>@user.LastName</td>
    <td>@user.DateOfBirth</td>
    <td class="role">@user.Role</td>
    <td>@GetBranchNames()</td>
    <div class="action-buttons">
        <button class="action-btn" @onclick="EditRole">
            <svg class="action-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
            </svg>
        </button>
        <button class="action-btn" @onclick="EditBranchAccess">
            <svg class="action-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
            </svg>
        </button>
        <button class="action-btn" @onclick="DeleteUser">
            <svg class="action-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
            </svg>
        </button>
    </div>
</tr>


@code {
    [Parameter] public Entities.Staff user { get; set; } = new();
    
    private List<string> GetBranchNames()
    {
        return new List<string>(); //return user.Branch ?? "No Branch Assigned";
    }
    
    private async Task EditRole()
    {
        //TODO implement 
    }
    
    private async Task EditBranchAccess()
    {
        //TODO implement 
    }

    private async Task DeleteUser()
    {
        //TODO implement 
    }
}