@page "/media/book/{MediaId}"
@using System.Net
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize]


<link rel="stylesheet" href="/css/media.css">
<div class="media-info-container">
    <div class="media-container">
        <div class="media-title-rating">
            <h2 class="media-title">@_result.Title</h2>
            <div class="rating">
                @for (var i = 1; i <= 5; i++)
                {
                    <RatingStar colorValue="@(i <= Math.Round(_result.Rating))"></RatingStar>
                }
            </div>
        </div>
        
        <div class="info-description">
            <div class="description">
                <h3 class="section-title">Description</h3>
                <p>@_result.Description</p>
            </div>
            
            <div class="info">
                <h3 class="section-title">Info</h3>
                <div class="info-fields">
                    <div class="info-field">
                        <div class="info-title">Author</div>
                        <div class="info-content">
                            @(_result.Author.Contains(',') ? _result.Author.Split(',')[0] : _result.Author)
                        </div>
                    </div>
                    <div class="info-field">
                        <div class="info-title">Publisher</div>
                        <div class="info-content">
                            @_result.Publisher
                        </div>
                    </div>
                    <div class="info-field">
                        <div class="info-title">Publish Date</div>
                        <div class="info-content">
                            @_result.ReleaseDate.ToLocalTime().ToString("dd/MM/yyyy")
                        </div>
                    </div>
                    <div class="info-field">
                        <div class="info-title">ISBN</div>
                        <div class="info-content">
                            @_result.Isbn
                        </div>
                    </div>
                </div>
            </div>
            <div class="info">
                <AuthorizeView Policy="CanReserveMedia">
                    <Authorized Context="auth">
                        @if (_reservables !=  null && _reservables.Any())
                        {
                            <p>@_reservationResultMessage</p>
                            @foreach (var item in _reservables)
                            {
                                <p>@item.BranchName</p>
                                <p>Reservable within ranges:</p>

                                <ul>
                                    @foreach (var timeslot in item.Timeslots)
                                    {
                                        <li>
                                            <button @onclick="() => CreateReservation(item.Item, timeslot.Start)">
                                                @(timeslot.Start == DateTime.Today ? "Borrow" : "Reserve")
                                            </button>
                                            @timeslot.Start
                                        </li>

                                    }

                                    <li>
                                        <button @onclick="() => CreateReservation(item.Item, item.LastEnd)">
                                            @(item.LastEnd == DateTime.Today ? "Borrow" : "Reserve")
                                        </button>
                                        @item.LastEnd
                                    </li>
                                </ul>
                            }
                        }
                    </Authorized>
                    <NotAuthorized>
                        <p class="borrow"><a href="/login">Sign in</a> to borrow media</p>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
            <div>
                
            </div>
        </div>
    </div>
</div>
<StatusModal @ref="_statusModal" />

@code {
    [Parameter] public string MediaId { get; set; }
    private StatusModal? _statusModal;
    private List<Entities.MediaInfo> _mediaResults = new();
    private Entities.MediaInfo _result = new();
    private readonly List<Filter> _filters = new();
    AuthenticationState authState;
    private string? _userEmail;
    private string? _userId;
    private IEnumerable<string>? branches;
    private List<Entities.ReservableItem>? _reservables;
    private string _reservationResultMessage = "";
    

    protected override async Task OnInitializedAsync()
    {
        _filters.Add(new Filter("_id", MediaId, DbEnums.Equals));
        authState = await AuthStateProvider.GetAuthenticationStateAsync();
        _userId = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        _userEmail = authState.User.FindFirst(ClaimTypes.Email)?.Value;
        
        var response = await HttpClient.PostAsJsonAsync($"api/catalog/search?page={1}&count={1}", _filters);
        if (response.IsSuccessStatusCode)
        {
            var searchResponse = await response.Content.ReadFromJsonAsync<Response<List<Entities.MediaInfo>>>();
            if (searchResponse != null)
            {
                _mediaResults = searchResponse.Data;
                _result = _mediaResults[0];
                _reservables = await GetReservableItems(authState.User); // note await might be causing problems when page loads strangely
                Console.WriteLine(_result);
            }
        }

        StateHasChanged();
    }

    static string GetColor(int i, Entities.MediaInfo result)
    {
        if (i <= result.Rating)
        {
            return "#44403C";
        }
        return "#D6D3D1";
    }
   
    
    // Gets list of ReservableItem, each has timeslots where reservations can be made
    private async Task<List<Entities.ReservableItem>> GetReservableItems(ClaimsPrincipal user)
    {

        var request = new GetReservablesRequest
        {
            Media = _result.ObjectId,
            Branches = user.FindAll(PolicyClaims.BranchAccess).Select(c => c.Value).ToArray(),
            MinimumDays = 7
        };
        return await ReservableItems(request);
    }

    private async Task<List<Entities.ReservableItem>> ReservableItems(GetReservablesRequest request)
    {
        var reservablesResponse = await HttpClient.PostAsJsonAsync("api/reservations/getReservable", request);
        var reservables = await reservablesResponse.Content.ReadFromJsonAsync<Response<List<Entities.ReservableItem>>>();
        if (reservables is null)
        {
            return new List<Entities.ReservableItem>();
        }
        return reservables.Data ?? new List<Entities.ReservableItem>();
    }

    private async Task CreateReservation(string item, DateTime start)
    {
        start = start.AddDays(1);
        var request = new Request<Entities.Reservation>
        {
            Data = new Entities.Reservation
            {
                ObjectId = ObjectId.GenerateNewId().ToString(),
                Item = item,
                Member = _userId,
                StartDate = start,
                EndDate = start.AddDays(7),
            },
            EmailDetails = new EmailDetails
            {
                RecipientAddresses = new List<string> { _userEmail },
                EmailBody = new Dictionary<string, string>
                {
                    { "UserName", _userEmail },  
                    { "Media", _result.Title },
                    { "Time", start.ToString("g") },
                    { "Location", _reservables?.FirstOrDefault(r => r.Item == item)?.BranchName}
                },
            }
        };
        var response = await HttpClient.PostAsJsonAsync("api/reservations/create", request);
        var result = await response.Content.ReadFromJsonAsync<Response<string>>();
        if (result != null && _statusModal != null)
        {
            await _statusModal.ShowStatusModal(result, null);
        }
        
        StateHasChanged();
    }

    private async Task Borrow(string item)
    {
        var request = new Request<PayLoads.Borrow>
        {
            Data = new PayLoads.Borrow
            {
                MediaId = item,
                UserId = _userId
            },
            EmailDetails = new EmailDetails
            {
                RecipientAddresses = new List<string> { _userEmail },
                EmailBody = new Dictionary<string, string>
                {
                    { "UserName", _userEmail },
                    { "Media", _result.Title },
                    { "startDate", DateTime.Today.ToString("d") },
                    { "endDate", DateTime.Today.AddDays(7).ToString("d") },
                    { "Location", _reservables?.FirstOrDefault(r => r.Item == item)?.BranchName}
                }
            }
        };
        var response = await HttpClient.PostAsJsonAsync("api/loans/check-out", request);
        var result = await response.Content.ReadFromJsonAsync<Response<string>>();
        if (result != null && _statusModal != null)
        {
            await _statusModal.ShowStatusModal(result, null);
        }
    }

    // Done by librarian really
    private async Task ReturnItem(string item)
    {
        var result = await HttpClient.PostAsJsonAsync("api/loans/check-in", item);
    }

}